@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<ContentModels.MediaElement>>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.MediaElement)Model.Content;
    //var settings = (ContentModels.mediaElement)Model.Settings;
}


<div class="container">
    
    <a href="/produkts/white-t-shirt/"><img src="@content.Icon.MediaUrl()" alt="My image dosen't work" width="33%" height="300"></a>
    <a href="/produkts/brown-jacket/"><img src="@content.Iccon2.MediaUrl()" alt="My image dosen't work" width="33%" height="300"></a>
    <a href="/produkts/black-suit/"><img src="@content.Icon3.MediaUrl()" alt="My image dosen't work" width="33%" height="300"></a>
    <div class="centered">My shop text</div>
    <div class="top-left">My shop text</div>
    <div class="top-right">My shop text</div>
    
</div>

<h1>@content.Try2</h1>
